#resultado{
  font-size: 50px;
  text-shadow: 4px 4px 7px rgba(151, 150, 150, 1);
}

h1{
  text-shadow: 3px 3px 3px rgba(151, 150, 150, 1);
}

.border{
  -webkit-box-shadow: 10px 10px 31px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 31px -14px rgba(0,0,0,0.75);
box-shadow: 10px 10px 31px -14px rgba(0,0,0,0.75);
}